#Home{
  margin-left: 250px;
  border: 2px solid white;
  width: 800px;
}

#title{
  border: 2px solid white;
  text-align: right;
  height: 40px;
  color: orange;
  font-size: 20px;
  font-family: serif;
  padding-right: 100px;
}

#image{
  float: left;
  border: 1px solid gray;
  height: 450px;
  width: 600px;
}

.image{
  border: 2px solid white;
  height: 452px;
}

#list{
  float: left;
  border: 2px solid white;
  height: 60px;
  width: 190px;
  margin-top: 150px;
}

#gif{
  border: 2px solid white;
  height: 80px;
  width: 80px;
  float: left;
  margin-top: 0px;
  margin-left: 100px;
}

.imageAndLink{
  height: 300px;
}

#image1{
  margin-top: -90px;
  float: left;
  border: 1px solid gray;
  height: 300px;
  width: 300px;
}

#paragraph{
  font-size: 12px;
  margin-top: 100px;
  border: 2px solid white;
  width: 500px;
  margin-left: 310px;
}

#title1{
  margin-right: 100px;
  border: 2px solid white;
  text-align: right;
  height: 40px;
  color: orange;
  font-size: 20px;
  font-family: serif;
  padding-right: 100px;
}

.comment{
  border: 2px solid white;
}

#comment{
  border: 1px solid gray;
  border-style: outset;
  padding-bottom: 20px;
  margin-left: 10px;
  background-color: white;
  height: 50px;
  width: 200px;
}

#name{
  margin-left: 10px;
  border: 1px solid gray;
  border-style: outset;
}

#commentField{
  font-family: sans-serif;
  margin-top: 0px;
  border-top: 4px;
  border-bottom: 4px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-style: groove;
}

#submitButton{
  font-size: 13px;
  border-radius: 5px;
  margin-top: 5px;
  border: 2px solid white;
  height: 25px;
  width: 75px;
  background-color: #2e2a2a29;
}

.fileNotFound{
  border: 2px solid black;
  background-color: red;
  text-align: center;
}

#logOut{
  float: right;
}
